{% extends 'bootstrap/base.html' %}
{% block content %}
<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class = "container">
        <ul class = "list-inline">
            <a href="/login" class = "btn btn-primary" style="text-decoration:None;color:white;float:right;margin-top:5px;margin-left:5px;">Login</a>
            <a href="/register" class = "btn btn-primary" style="text-decoration:None;color:white;float:right;margin-top:5px;margin-left:5px;">Sign Up</a>
        </ul>
    </div>
</nav>
</header>
{% endblock %}