{% extends 'bootstrap/base.html'%}
{%block content%}
<div class = "container" style="margin-top:20px;">
    <form action="/register" method="POST">
        {{form.hidden_tag()}}
        <div class="form-group">
            {{form.username.label}}
            {{form.username(class="form-control", id = "exampleInputText1", placeholder="Username")}}
        </div>
        <br>
        <div class="form-group">
            {{form.email.label}}
            {{form.email(class="form-control", id="exampleInputEmail1", placeholder="name@gmail.com")}}
        </div>
        <br>
        <div class="form-group">
            {{form.password.label}}
            {{form.password(class="form-control", id = "exampleInputPassword1", placeholder="Password")}}
        </div><br>
         <div class="form-group">
            {{form.confirm_password.label}}
            {{form.confirm_password(class="form-control", id = "exampleInputPassword1", placeholder="Re-Enter Password")}}
        </div><br>
        <div class="form-group" style="text-align:center;">
            {{form.submit( class="btn btn-primary")}}
        </div>
    </form>
    <div>
        <small class = "text-muted">
            Already Have An Account?<a href="/login">  Login</a>
        </small>
    </div>
</div>
{%endblock%}